@import '../../../settings';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.verbContainer {
  flex-direction: column;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 2rem 0;

  @include breakpoint('medium') {
    flex-direction: row;
  }
}
