.block {
  padding: 2rem;
  border-radius: 0.5rem;
  color: white;
  text-align: center;
  font-size: 3rem;
  min-width: 250px;
  font-family: 'Playfair Display', serif;
  display: flex;
  align-items: center;
  justify-content: center;
  :global {
    animation: fadeIn 1s ease-out;
  }
}

.block:nth-child(n) {
  :global {
    animation-delay: calc(0.2s * var(--i));
  }
}

.past {
  background-color: var(--past);
}
.infinitive {
  background-color: var(--infinitive);
}
.pastParticiple {
  background-color: var(--pastParticiple);
}

.longText {
  font-size: 1.3rem;
}
