.block {
  padding: 2rem;
  border-radius: 0.5rem;
  color: white;
  text-align: center;
  font-size: 3rem;
  min-width: 250px;
  font-family: 'Playfair Display', serif;
}
.past {
  background-color: var(--past);
}
.infinitive {
  background-color: var(--infinitive);
}
.pastParticiple {
  background-color: var(--pastParticiple);
}
