@import './settings';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
  --background-start: #4385f4;
  --background-end-rgb: 255, 255, 255;
  --primary-text: #333;
  --primary-bg: rgb(42, 81, 116);
  --infinitive: rgb(61, 83, 113);
  --past: #8a7852;
  --pastParticiple: #c27658;
  --text-disabled: rgb(160, 160, 160);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #446f76;
    --background-start: #000000;
    --background-end: #000000;
    --primary-bg: #446f76;
    --primary-text: #333;
  }
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
  font-family: var(--font-lato);
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .btn-primary {
    @apply bg-transparent dark:bg-slate-50 hover:bg-blue-500 dark:hover:bg-slate-200 text-blue-700 dark:text-black font-semibold hover:text-white  py-2 px-4 border border-blue-500 dark:border-slate-50 hover:border-transparent rounded cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed;
  }
}
