@import './settings';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
  --background-start: #4385f4;
  --background-end-rgb: 255, 255, 255;
  --primary-text: #333;
  --primary-bg: #2a5174;
  --infinitive: #3d5371;
  --past: #8a7852;
  --pastParticiple: #c27658;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #446f76;
    --background-start: #000000;
    --background-end: #000000;
    --primary-bg: #446f76;
    --primary-text: #333;
  }
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
