.container {
  text-align: center;
  margin: 2rem auto;
}

.spinner {
  display: block;
  margin: auto;
  border: 0.7rem solid var(--past);
  border-top: 0.7rem solid var(--infinitive);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  animation: spin 1.2s linear infinite;
}

.loadingMessage {
  font-size: 1.3rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
